@{
    ViewBag.Title = "Home Page";
}

<table>
    <thead>
        <tr>
            <th>Restaurant name</th>
            <th>Phone number</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var row in ViewBag.Restaurants.Rows)
    {
    <tr>
        <td>@row["Title"]</td>
        <td>@row["PhoneNumberText"]</td>
        <td>@Html.ActionLink("Edit", "Edit", "Restaurant", new { id = row["Id"] }, new {})</td>
    </tr>
    }
    </tbody>
</table>
    